<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="org.web3j" level="info"/>
    <logger name="ch.qos.logback" level="error"/>
    <logger name="org.junit.jupiter" level="warn"/>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>